@import url("reset.css");
@import url("fonts.css");
body {
   margin: 0 auto;
   max-width: 1920px;
}
.title {
   font-family: "Lato";
   font-weight: 700;
   text-align: center;
   font-size: 96px;
   text-transform: uppercase;
   padding: 100px 0;
   text-shadow:
      5px 5px 3px gray,
      7px 7px 5px blue;
   line-height: 1.2;
}
.title::before,
.title::after{
   content: "";
   width: 150px;
   height: 150px;
   background:  url("../img/pizza.png") center / 150px 150px no-repeat;
   vertical-align: middle;
}
.title:hover {
   text-decoration: underline;
   text-shadow:
      5px 5px 3px rgba(100, 11, 11, 0.679),
      7px 7px 5px rgba(7, 2, 50, 0.686);
   letter-spacing: 10px;
}
.game-block {
   margin-bottom: 50px;
   max-width: 1920px;
   min-height: 1100px;
   background:
      url("../img/pizza.png") 90% 0% / 250px no-repeat,
      url("../img/turtles.jpg") 50% 50% no-repeat;
      margin-bottom: 50px;
      margin: 0 uato;
}
.game-block img {
   max-width: 300px;
   margin-left: 350px;
   margin: -390px 0 0 180px;
}
.game-block p:first-of-type {
   font-family: "Lato", sans-serif;
   font-weight: 700;
   font-size: 40px;
   color: rgb(234, 5, 5);
   margin-left: 280px;
   max-width: 200px;
   padding-top: 1030px;
}
.game-block p:last-of-type {
   font-family: "Lato", sans-serif;
   font-weight: 700;
   font-size: 40px;
   color: rgb(234, 123, 5);
   margin-left: 1580px;
   max-width: 200px;
   margin-top: -830px;
}
.line-01 {
   max-width: 70px;
   min-height: 350px;
   background: linear-gradient(0deg, rgba(19, 19, 145, 1) 0%, rgba(0, 0, 0, 1) 100%) 50% 80%;
   margin: -630px 0 0 320px;
   visibility: hidden;
}
.ninja:hover + .line-01,
.line-01:hover {
   visibility: visible;
}
.line-02 {
   max-width: 300px;
   min-height: 50px;
   background: linear-gradient(186deg, rgba(19, 19, 145, 1) 0%, rgba(0, 0, 0, 1) 100%);
   margin: -400px 0 0 320px;
   visibility: hidden;
}
.line-01:hover + .line-02,
.line-02:hover {
   visibility: visible;
}
.line-03 {
   max-width: 40px;
   min-height: 250px;
   background: linear-gradient(180deg, rgba(19, 19, 145, 1) 62%, rgba(0, 0, 0, 1) 100%);
   margin: -250px 0 0 620px;
   visibility: hidden;
}
.line-02:hover + .line-03,
.line-03:hover {
   visibility: visible;
}
.line-04 {
   max-width: 400px;
   min-height: 40px;
   background: linear-gradient(0deg, rgba(19, 19, 145, 1) 71%, rgba(0, 0, 0, 1) 100%);
   margin: -290px 0 0 620px;
   visibility: hidden;
}
.line-03:hover + .line-04,
.line-04:hover {
   visibility: visible;
}
.line-05 {
   max-width: 50px;
   min-height: 150px;
   background: linear-gradient(0deg, rgba(19, 19, 145, 1) 71%, rgba(0, 0, 0, 1) 100%);
   margin: -150px 0 0 1020px;
   visibility: hidden;
}
.line-04:hover + .line-05, .line-05:hover{
   visibility:visible;
}
.line-06 {
   max-width: 460px;
   min-height: 20px;
   background: linear-gradient(0deg, rgba(19, 19, 145, 1) 71%, rgba(0, 0, 0, 1) 100%);
   margin: -150px 0 0 1070px;
   visibility: hidden;
}
.line-05:hover + .line-06, .line-06:hover {
   visibility:visible;
}
.subtitle {
   font-family: "Lato", sans-serif;
   font-weight: 700;
   font-size: 60px;
   text-align: center;
   margin-bottom: 40px;
}
.subtitle:active {
   color: blue;
}
.price {
   margin: 0 auto;
   max-width: 351px;
   font-family: "Montserrat", sans-serif;
   font-weight: 600;
   font-size: 14px;
   line-height: 1.7;
   color: #252b42;
   margin-bottom: 15px;
}
.price-list {
   max-width: 313px;
   padding: 0 40px 0 40px;
}
.price-item {
   padding: 4px 0 4px 0px;
}
.price-item:hover {
   color: rgba(15, 84, 15, 0.797);
}
.price-item::before {
   content: "";
   width: 32px;
   height: 32px;
   background: url("../img/icons/Check.svg") center / 32px 32px no-repeat;
   vertical-align: middle;
   margin-right: 10px;
}
.price-item:not(:last-child){
   margin-bottom: 15px;
}
.price-item:nth-of-type(4)::before,
.price-item:nth-of-type(5)::before {
   content: "";
   width: 32px;
   height: 32px;
   background: url("../img/icons/Check-grey.svg") center / 32px 32px no-repeat;
}
.about-salvadore{
   font-family: "Montserrat", sans-serif;
   font-weight: 600;
   font-size: 25px;
   line-height: 1.5;
}
.link {
   text-decoration: underline;
   color: blue;
}
.link:visited {
   color: blueviolet;
}
.biography p:nth-of-type(odd) {
color: blue;
}