@import url("reset.css");
@import url("fonts.css");
.wrapper {
   position: relative;
   min-height: 100%;
   overflow: clip;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
}
.wrapper > main {
   flex-grow: 1;
}
.wrapper {
   max-width: 1920px;
   font-family: "Lato", sans-serif;
   font-weight: 800;
   color: #7e7f7c;
   line-height: 1.25;
   padding: 0 15px;
}
.header {
   margin: 0 auto;
   margin-bottom: 30px;
}
.header__container {
}
.header__title {
   font-family: "Lato", sans-serif;
   font-weight: 700;
   font-size: 50px;
   padding-top: 20px;
}
.page {
   margin: 0 auto;
}
.register {
   max-width: 1392px;
   text-align: center;
   font-family: "Lato", sans-serif;
   font-size: 16px;
}
.register__container {
   display: flex;
   flex-direction: column;
   row-gap: 82px;
}
.title-register__container {
   display: flex;
   flex-direction: column;
   row-gap: 36px;
}
.title-register__title,
.information__title,
.promo__title {
   font-size: 32px;
   color: #2f302c;
}
.title-register__text {
   font-weight: 700;
}
.information__wrapper {
   display: flex;
   flex-direction: column;
   row-gap: 36px;

   align-items: flex-start;
}
.information__title {
}
.information__link {
   color: #2f302c;
   font-weight: 700;
}
.information__text {
   font-weight: 500;
}
.information__link:hover {
   text-decoration: underline;
}
.signup-form {
   display: flex;
   row-gap: 80px;
   column-gap: 80px;
}
.signup-form__container {
   max-width: 712px;
   max-height: 496px;
   display: inline-flex;
   flex-direction: column;
   row-gap: 72px;
   align-items: flex-start;
}
.form__container {
   display: flex;
   flex-wrap: wrap;
   gap: 40px 40px;
   max-width: 712px;
   width: 100%;
}
.form__input {
   display: inline-flex;
   max-width: 336px;
   padding: 12px 0;
   border-bottom: solid 1px #d4d4d4;
   flex-wrap: wrap;
   font-size: 16px;
   line-height: 1.25px;
   width: 100%;
}
.form__input:nth-child(3) {
   max-width: 712px;
   width: 100%;
}
.form__button {
   background-color: #2f302c;
   color: #fff;
   padding: 12px 0;
   max-width: 336px;
   box-sizing: border-box;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 16px;
   line-height: 1.25;
}
.form__button:hover {
   background-color: #4a4c48;
   text-decoration: underline;
}
.promo {
}
.promo__container {
   display: inline-flex;
   background-color: #f6f6f6;
   justify-content: flex-start;
   align-items: flex-end;
   max-height: 496px;
   overflow: hidden;
   position: relative;
}
.promo__container span {
   background-color: #ce0000;
   font-weight: 700;
   display: inline;
   border-radius: 4px;
   padding: 4px 8px;
   width: 100%;
   max-width: 51px;
   color: #fff;
}
.promo__banner {
   display: inline-flex;
   max-width: 600px;
   flex-direction: column;
   max-height: 496px;
}
.promo__title {
   text-align: left;
   width: 100%;
   max-width: 184px;
   padding-right: 18px;
}
.promo__wrapper {
   padding: 80px;
   display: flex;
   flex-direction: column;
   row-gap: 24px;
   position: absolute;
   bottom: 0;
   left: 0;
   max-width: 600px;
   width: 100%;
   max-height: 496px;
   height: auto;
}
.footer {
   padding: 15px 0;
}
.footer__link {
   display: flex;
   justify-content: center;
}
