@import url("reset.css");
@import url("fonts.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
h1 {
   font-family: "Roboto";
   font-weight: 600;
   font-size: 30px;
   text-align: justify;
   text-transform: uppercase;
   line-height: 2;
   color: rgb(38, 41, 67);
   text-shadow:
      6px 10px 3px hsla(222, 25%, 24%, 0.768),
      16px 25px 4px hsla(233, 52%, 19%, 0.399);
}
li.items-title {
   line-height: 1.5;
   letter-spacing: 15px;
   text-align: left;
   text-decoration: underline;
   text-decoration-color: brown;
}
.items {
   text-align: center;
   font-family: "Roboto";
   font-weight: 400;
   letter-spacing: normal;
}
#top {
   text-align: center;
   line-height: 1.5;
   text-decoration: underline;
   text-decoration-style: wavy;
   text-decoration-color: blue;
}
.text-nav {
   text-align: center;
   color: blue;
   letter-spacing: 10px;
   line-height: 2;
   font-family: "Roboto", serif;
   font-size: 15px;
   font-weight: 600;
   text-shadow: 
   5px 0px 2px rgb(250, 133, 90),
   12px 1px 2px rgb(20, 85, 52);
}
a.link {
   color: brown;
}
li.useful-links a.link {
   color: rgb(139, 31, 241);
   text-decoration: line-through;
   text-decoration-style: wavy;
}
ol {
   text-align: right;
}
span {
   text-decoration: underline;
   text-decoration-style: dashed;
   text-decoration-color: blue;
}
h2 {
   font-family: "Roboto";
   font-weight: 600;
   font-size: 25px;
   text-align: center;
   line-height: 2;
}
h3 {
   text-align: center;
   font-size: 18px;
   color: rgb(127, 28, 28);
   font-family: "Podkova-Regular";
   font-weight: 400;
}
#history {
   text-align: right;
   line-height: 4;
   text-shadow:
      -20px 18px 1px #451b1ba3,
      -30px 35px 2px #4b0d0d71;
}
#history + p {
   word-spacing: 5px;
   text-transform: uppercase;
}
.history-text {
   text-transform: lowercase;
}
.chapter-two p {
   font-family: "Podkova-Regular", serif;
   font-size: 15px;
   font-weight: 400;
}
.chapter-one {
   font-family: "LetoSlab-Regular", sans-serif;
   font-weight: 400;
   font-size: 15px;
}
.chapter-three p {
   font-family: "AnastasiaScript", cursive;
   font-weight: 400;
   font-size: 15px;
}
.text-link{
   text-shadow:
      20px 18px 1px #451b1ba3,
      -30px 35px 2px #4b0d0d71,
      -20px 50px 1px #451b1ba3;
}